html {
    box-sizing: border-box;
}
*,
*::before
*::after{
    box-sizing:inherit;
}
:root {
    --primary-text-color:#FFFFFF;
    --title-text-color:#212121;
    --secondary-text-color:#757575;
    --accent-color:#2196F3;
}
body {
    font-family:'Roboto', sans-serif;
    }
.list {
    margin: 0;
    padding: 0;
    list-style:none;
}
.main-nav {
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
    border-color: #ECECEC;
    }
.logo {
    font-family:'Raleway', sans-serif;
    color: var(--accent-color);
    text-decoration:none;
    }
.logo-primary {
    color: var(--accent-color);
}
.logo-black {
    color: #000000;
    }
.logo-white {
    color: var(--primary-text-color);
    }
.menu {
    display:flex;
    margin-left: 93px;
   }
.menu .item:not(:last-child) {
    margin-right: 50px;
}
.menu a.current::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color); 
}
.menu a {
    display:block;
    position: relative;
    padding-top:32px;
    padding-bottom: 32px;
    font-weight:500;
    font-size:14px;
    line-height:1.14;
    text-decoration:none;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}
.menu a:hover,
.menu a:focus {
    color: var(--accent-color);
}

.menu a.current {
   color: var(--accent-color);
}
.info-contacts {
    display: flex;
    margin-left: auto;
    }
.info-contacts .item:not(:last-child) {
    margin-right: 50px;
}
.info-contacts a {
    display:inline-flex;
    padding-top:32px;
    padding-bottom: 32px;
    font-weight:500;
    font-size:14px;
    line-height:1.14;
    text-decoration:none;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1); 
}
.envelope {
    width: 16px;
    height: 12px;
    fill: #757575;
    margin-right: 10px;
}
.smartphone {
    width: 10px;
    height: 16px;
    fill: #757575;
    margin-right: 10px;
}
/*.icon::before {
    display:inline-flex;
    content: "";
    width:16px;
    height: 12px;
    margin-right: 10px;
    background-image: url("../images/envelope.png");
    color: var(--secondary-text-color);

}
.icon-phone::before {
    display:inline-flex;
    content: "";
    width:10px;
    height: 16px;
    margin-right: 10px;
    background-image: url("../images/phone.png");
    color: var(--secondary-text-color);
}*/
.section-general {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #c4c4c4;
    background-image:linear-gradient( to right, rgba(47,48,58,0.4), rgba(47,48,58,0.4)), url(../images/hero2.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    
    display: flex;
    justify-content:center;
    align-items: center;
}
.hero {    
    max-width: 696px;
    padding-left: 50px;
    padding-right: 50px;
}
.title-white {
    display: block;
    margin-top: 0;
    margin-bottom: 30;
    font-weight: 900;
    font-size:44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}
.button {
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    min-width: 200px;
    font-weight:700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    background-color: var(--accent-color);
    }
.backdrop {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1024px;
    background-color: rgba(0,0,0,0.2);
    opacity: 1;
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events:none;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%,-50%) scale(0.9);
}
.modal {
    position:absolute;
    min-width: 528px;
    min-height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4,0,0.2,1);
    background-color: rgba(255,255,255,1);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 1px rgba(0,0,0,0.14), 0px 2px 1px rgba(0,0,0,0.2);
}
.button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: var(--primary-text-color);
}
.button-close:hover .icon-close-svg {
    fill: var(--accent-color);
}
.icon-close-svg {
    width: 18px;
    height: 18px;
    fill: #757575;
}
.button-submit {
    display: block;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    padding: 10px 55px;
    border-radius: 4px;
    min-width: 200px;
    font-weight:700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    background-color: var(--accent-color);
}
.modal-form {
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
}
.form {
    width: 448px;
}
.form-field {
    position: relative;
    margin-bottom: 28px;
}
.form-label {
    position: absolute;
    top: 0;
    left: 0;
    font-weight:400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117,117,117,1); 
    transform: translateY(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field-comment {
    position: relative;
    margin-bottom: 20px;
}
.form-label-comment {
    position: absolute;
    top: 0;
    left: 0;
    font-weight:400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117,117,117,1); 
    transform: translateY(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input {
    width: 100%;
    margin: 0;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 42px;
    font: inherit;
    font-weight:400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117,117,117,1); 
    border-radius: 3px;
    border:1px solid rgba(33,33,33,0.2);
    outline: none;
}
.form-input:focus {
    border:1px solid #2196F3;
}
.form-input:focus + .form-icon-svg {
    fill: #2196F3;
}
.form-title {
    margin-bottom: 30px;
    font-weight:700;
    font-size: 20px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-text-color); 
}
.form-comment {
    width: 100%;
    margin-top: 0;
    font-weight:400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    border-radius: 3px;
    border:1px solid rgba(33,33,33,0.2);
    color: rgba(117,117,117,1);
    outline: none;
    resize: none; 
}
.form-comment::placeholder {
    color:  rgba(117,117,117,0.5);
}
.form-comment:focus {
    border:1px solid #2196F3;
}
.form-agree {
    margin-top: 0;
    margin-bottom: 30px;
}
.form-icon-svg {
    position: absolute;
    top: 50%;
    left: 15px;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
}
.checkbox {
   -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}
.label {
    display: flex;
    align-items: center;
    font-weight:400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.checkbox-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 2px;
    border: 1px solid #000000;
}
.checkbox:checked + .checkbox-icon {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url(../images/icons/iconcheck.svg);
    background-size: contain;
    background-origin: border-box;
}
.form-agree {
    margin-right: 10px;
    margin-bottom: 0;
    color: var(--secondary-text-color);
}
.contract {
    color: #2196F3;
    text-decoration: underline;
}
.contract-link {
    text-decoration: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
.advantages  {
    display: flex;
}
.advantages .item {
    min-width: 270px;
}
.advantages .item:not(:last-child) {
    margin-right: 30px;
}
.advantages .item::before {
    content:"";
    display: block;
    height: 120px;
}
.icon-antenna::before {
    background-image: url("../images/antenna.svg");
}
.icon-clock::before {
    background-image: url("../images/clock.svg");
}
.icon-diagram::before {
    background-image: url("../images/diagram.svg");
}
.icon-astronaut::before {
    background-image: url("../images/astronaut.svg");
}
.section-work {
    padding-top: 0;
    padding-bottom: 94px;
}
.example {
    display: flex;
}
.example .item:not(:last-child) {
    margin-right: 30px;
}
.contacts a {
    font-style:normal;
    text-decoration:none;
    color: rgba(255,255,255,0.6);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}
.contacts li {
    margin-bottom: 9px;
}
.info-contacts a:hover .link-icon,
.info-contacts a:focus .link-icon {
    fill: var(--accent-color);
}
.info-contacts a:hover {
    color: var(--accent-color);
}

.contacts a:hover {
    color: var(--accent-color);
}
.text-grey {
    margin-top: 10;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
.title-advantages {
    margin-top: 30px;
    margin-bottom: 0;
    font-weight:700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;   
}
.footer-black {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:#2F303A;
}
.address {
    margin-top: 20px;
    margin-bottom: 9px;
    font-style:normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em; 
    color: var(--primary-text-color);
}
.address-contacts {
    display: block;
    width: 231px;
}
.footer-connect {
    display: flex;
}
.connect {
    display: block;
    margin-left: 70px;
    margin-right: auto;
    min-width: 206px;
    height: 80px;
}
.social-connect {
    display: block;
    margin-bottom: 20px;
    font-style:normal;
    font-weight:700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em; 
    color: var(--primary-text-color);
}
.section-team {
    background-color:#F5F4FA;
}
.team {
    display:flex;
}
.team .text-team:not(:last-child) {
    margin-right: 30px;
}
.text-team {
    padding-bottom: 30px;
    background-color: var(--primary-text-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 1px rgba(0,0,0,0.14), 0px 2px 1px rgba(0,0,0,0.2);
}
.text-team:hover {
    box-shadow: 0px 1px 3px var(--accent-color), 0px 1px 1px var(--accent-color), 0px 2px 1px var(--accent-color);
}
.title {    
    margin-top: 0;
    margin-bottom: 50;
    font-weight:700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-text-color);
}
.title-team {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight:500;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-text-color);
}
.profession {
    margin-top: 0px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
.social {
    display: flex;
    justify-content: center;
}
.social-icons:not(:last-child) {
    margin-right: 10px;
}
.social-icons-svg {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
}
.social-icons-link {
    width:44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-text-color);
    border-radius: 50%;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}
.social-icons-link:hover .social-icons-svg,
.social-icons-link:focus .social-icons-svg {
    fill: #FFFFFF;
}
.social-icons-link:hover {
    background-color: var(--accent-color) ;
}
.footer-icons-svg {
    width: 20px;
    height: 20px;
    fill: var(--primary-text-color);
}
.footer-icons:not(:last-child) {
    margin-right: 10px;
}
.footer-icons-link {
    width:44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.1);
    border-radius: 50%;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}
.footer-icons-link:hover .footer-icons-svg,
.footer-icons-link:focus .footer-icons-svg {
    fill: #FFFFFF;
}
.footer-icons-link:hover {
    background-color: var(--accent-color);
}
.post {
    display: block;
    margin-bottom: 20px;
    font-style:normal;
    font-weight:700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em; 
    color: var(--primary-text-color);
}
.form-post {
    display: flex;
}
.button-post {
    display: inline-flex;
    margin-left: 20px;
    padding: 10px 29px;
    border-radius: 4px;
    min-width: 200px;
    font-weight:700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    background-color: var(--accent-color);
}
.icon-post {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background-image: url(../images/icons/iconsend2.svg);;
}
.post-input {
    outline: none;
    width: 360px;
    font-weight:400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    background-color: transparent; 
}
.post-input:focus {
    color: #000000;
    background-color: #FFFFFF;
}
.post-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}
.client {
    display: flex;
}
.client .item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 170px;
    height:90px;
    border: 1px solid;
    border-radius: 4px;
    border-color: #AFB1B8;
}
.client .item:not(:last-child) {
    margin-right: 30px;
}
.client-logo1 {
    width: 44px;
    height: 49px;
}
.client-logo2 {
    width: 40px;
    height: 52px;
}
.client-logo3 {
    width: 41px;
    height: 43px;
}
.client-logo4 {
    width: 80px;
    height: 42px;
}
.client-logo5 {
    width: 59px;
    height: 47px;
}
.client-logo6 {
    width: 89px;
    height: 45px;
}
.client-link:hover .link-svg,
.client-link:focus .link-svg {
    fill: var(--accent-color);
}
.footer-icon-link {
    width:44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}
.footer-icon:not(:last-child) {
    margin-right: 10px;
}
.photo-work {
    position: relative;
    display: flex;
}
.application {
    bottom: 0;
    position: absolute;
    display: block;
    margin-top: 0;
    height: 70PX;
    width: 100%;
    background-color: rgba(47,48,58,0.8); 
    
}
.title-application {
    padding-top: 27px;
    padding-bottom: 27px;
    margin-top: 0;
    margin-bottom: 0;
    font-style:normal;
    font-weight:700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-text-color);
}
/*Портфолио*/
.button-primary {
    padding: 6px 22px;
    border-radius: 4px;
    font-weight:500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    background-color:#F5F4FA;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    
}
.button-primary:hover {
    color: var(--primary-text-color);
    background-color: var(--accent-color);
}
.title-service {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight:700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-text-color);
}
.title-primary {
    margin-top: 20px;
    margin-bottom: 4px;
    font-weight:700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);   
}
.text-service {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight:400;
    font-size: 18px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);   
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
    }
.service {
    display:flex;
    margin-bottom: 50px;
    justify-content: center;
   }
.service .item {
    margin-right: 8px;
}
.service .item:last-child {
    margin-right: 0;
}
.service-examples {
    display:flex;
    flex-wrap: wrap;
}
.service-examples .item {
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 1px rgba(0,0,0,0.14), 0px 2px 1px rgba(0,0,0,0.2);
}
.service-examples .item:hover {
    box-shadow: 0px 1px 3px var(--accent-color), 0px 1px 1px var(--accent-color), 0px 2px 1px var(--accent-color);
}
.service-examples .item:nth-child(3n) {
    margin-right: 0;
}
.service-examples .item:nth-last-child(-n+3) {
    margin-bottom: 0px;
}
.text-project {
    position: relative;
    overflow: hidden;
}
.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(33,150,243,0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4,0,0.2,1);
}
.project {
    display: flex;
    position: absolute;
    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 63px;
    padding-left: 24px;
}
.description {
    margin-top: 0;
    margin-bottom: 0;
    font-weight:400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.text-project:hover .project-overlay {
    transform: translateY(0);
}